@import "./styles/reset.scss";

    
enemy {
    // border: 5px solid rgba(255,255,255,0.5);
    position: fixed;
    width: 100%;
    height: 200px;
    top: 0;
    right: 0;
    left: 0;
    // background-color: grey;
    background: rgb(60, 60, 60);
    background: rgba(60, 60, 60, 0.4);
}

container {
    // border: 5px solid rgba(255,255,255,0.5);
    position: fixed;
    width: 100%;
    height: 200px;
    bottom: 0;
    right: 0;
    left: 0;
    // background-color: grey;
    background: rgb(60, 60, 60);
    background: rgba(60, 60, 60, 0.4);
    // z-index: -1;
}

//Player
.hp {
    display: flex;
    justify-content: center;
    color: gold;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
    
}

.zodiac {
    display: flex;
    justify-content: center;
    color: gold;
    text-shadow:
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
    font-size: large;
    
}


.command {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    text-shadow:
      0 0 21px #fff,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
      justify-content: center;
}

.command > div {
    margin-left: 70px;
}

//Enemy
.enemy_hp {
    display: flex;
    justify-content: center;
    color: gold;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.enemy_zodiac {
    display: flex;
    justify-content: center;
    color: gold;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
    font-size: large;
}


.enemy_command {
    display: flex;
    flex-direction: column;
    color: gold;
    text-shadow:
      0 0 21px #fff,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.enemy_command > div {
    margin-left: 70px;
}

.lost {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(206, 56, 56);
    background: rgba(206, 22, 22, 0.4);
    // z-index: 1;
    display: none;
    font-size: xx-large;
    justify-content: center;
}

.lost > .game_over {
    display: flex;
    margin-top: 400px;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow:
        0 0 21px #fff;
    // align-items: bottom;
    // top: 50%;
    // left: 50%;
}

.lost > .restart {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow:
        0 0 21px #fff;
    // align-items: bottom;
    // top: 50%;
    // left: 50%;
}

.won {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(211, 247, 11);
    background: rgba(12, 245, 225, 0.4);
    // z-index: 1;
    display: none;
    font-size: xx-large;
    justify-content: center;
}

.won > .game_won {
    display: flex;
    margin-top: 400px;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow:
        0 0 21px #fff;
    // align-items: bottom;
    // top: 50%;
    // left: 50%;
}

.won > .restart {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow:
        0 0 21px #fff;
    // align-items: bottom;
    // top: 50%;
    // left: 50%;
}

.main {
    position: fixed;
    top: 48%;
    left: 50%;
    width: 25%;
    height: 32%;
    margin-top: -100px;
    margin-left: -12.5%;
}

.scroll {
    // width: 200px;
    // height: 150px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: block;
}

select {
    -webkit-appearance: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll a {
    color: rgb(255, 255, 255);
    display: block;
    padding: 12px;
    text-decoration: none;
}

.scroll a:hover {
    // background-color: #ccc;
    background-color: rgb(226, 120, 33);
    background-color: rgba(234, 238, 18, 0.4);
}

