.command-panel {
    display: none;
    position: fixed;
    width: 500px;
    height: 250px;
    bottom: 20px;
    right: 0;
    left: 10%;
    background: rgb(60, 60, 60);
    background: rgba(60, 60, 60, 0.4);
    border-radius: 60px;
    font-family: monospace;
    font-size: 16px;
}

.command-details-container {
    display: flex;
}

//Time gauge
.gauges {
    height: 100px;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
}

.leveler {
    display: flex;
}

.time-gauge {
    color: #0fa;
    margin-right: 10px;
}

//Player
.hp {
    color: #0fa;
    margin-right: 10px;
}

.mp {
    color: #0fa;
    margin-right: 10px;
}

.time-gauge-bar {
    color: gold;
}

.hp-gauge-bar {
    display: none;
    display: flex;
    justify-content: center;
    color: gold;
}

.max-hp-gauge-bar {
    display: none;
    display: flex;
    justify-content: center;
    color: gold;
}

.mp-gauge-bar {
    display: none;
    display: flex;
    justify-content: center;
    color: gold;
}

.max-mp-gauge-bar {
    display: none;
    display: flex;
    justify-content: center;
    color: gold;
}

.zodiac {
    display: none;
    display: flex;
    justify-content: center;
    color: gold;
    font-size: large;

    margin-bottom: 50px;
    margin-top: 30px;
    
}

//comands
.command {
    display: none;
    flex-direction: column;
    color: whitesmoke;
    justify-content: space-around;
    cursor: pointer;
    margin-right: 92px;
    height: 100px;
}

.command > div {
    margin-left: 70px;
}

.magic {
    color: whitesmoke;
}

.heal {
    color: whitesmoke;
}


.player-damage {
    display: none;
    color: white;
    // color: rgb(0, 0, 0);
    position: fixed;
    font-size: 30px;
    left: 30%;
    top: 20%;
}


//bars
.full-hp-bar {
    width: 130px;
    height: 10px;
    background: greenyellow;
    border: 1px solid;
}

.full-mp-bar {
    width: 130px;
    height: 10px;
    background: rgb(238, 47, 255);
    border: 1px solid;
}