@import "./reset.scss";
@import "./modal.scss";
@import "./command.scss";
@import "./enemy.scss";

//header
.game-title {
    position: fixed;
    font-family: monospace;
    font-size: 50px;
    color: palegoldenrod;
    // margin-left: 100px;
    margin-left: 10%;
    margin-top: 50px;

    border-bottom: 1px solid;
    width: 81%;
}

.navbar {
    display: flex;
}

.sub-navbar {
    position: fixed;
    font-family: monospace;
    font-size: 14px;
    color: palegoldenrod;
    display: flex;
    // right: 100px;
    right: 10%;
    // margin-left: 60%;
    top: 78px;
}

.left-nav {
    margin-right: 50px;
}

.right-nav {
   display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 222px;
}

.restart {
    cursor: pointer;
    width: 40%;
    height: 50%;
}

.restart:hover {
    cursor: pointer;
    background-color: rgba(255, 217, 0, 0.555);
    border-radius: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 40%;
    height: 50%;
}

canvas {
    display: block;
}

.lost {
    position: fixed;
    width: 100%;
    height: 100%;
    // background: rgb(206, 56, 56);
    // background: rgba(206, 22, 22, 0.4);
    background-color: black;
    // z-index: 1;
    display: none;
    font-size: xx-large;
    justify-content: center;
}

.lost > .game_over {
    display: flex;
    margin-top: 265px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 115, 0);
    text-shadow: 0 0 21px #fff;
    font-family: monospace;
    font-size: 133px;
    text-transform: uppercase;
}

// .lost > .restart {
//     display: flex;
//     margin-top: 10px;
//     justify-content: center;
//     align-items: center;
//     color: black;
//     text-shadow:
//         0 0 21px #fff;
//     // align-items: bottom;
//     // top: 50%;
//     // left: 50%;
// }

.lost > .restart_lost {
    display: none;
    // display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 115, 0);
    text-shadow: 0 0 21px #fff;
    font-family: monospace;
    cursor: pointer;
    font-size: 50px;
}

.won {
    position: fixed;
    width: 100%;
    height: 100%;
    // background: rgb(211, 247, 11);
    // background: rgba(12, 245, 225, 0.4);
    background-color: black;
    // z-index: 1;
    display: none;
    font-size: xx-large;
    justify-content: center;
}

.won > .game_won {
    display: flex;
    margin-top: 265px;
    justify-content: center;
    align-items: center;
    color: gold;
    text-shadow: 0 0 21px #fff;
    font-family: monospace;
    font-size: 133px;
    text-transform: uppercase;
}

.won > .restart_won {
    display: none;
    // display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    color: palegoldenrod;
    text-shadow: 0 0 21px #fff;
    font-family: monospace;
    cursor: pointer;
    font-size: 50px;
}

.finished-container {
    // display: none;

    position: fixed;
    width: 100%;
    height: 100%;
    // background: rgb(211, 247, 11);
    // background: rgba(12, 245, 225, 0.4);
    background-color: black;
    // z-index: 1;
    display: none;
    font-size: xx-large;
    justify-content: center;
    
}

.finished-message {
    display: flex;
    margin-top: 265px;
    justify-content: center;
    align-items: center;
    color: gold;
    text-shadow: 0 0 21px #fff;
    font-family: monospace;
    font-size: 133px;
    text-transform: uppercase;
}

.restart-game {
    display: none;
    // display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 115, 0);
    text-shadow: 0 0 21px #fff;
    font-family: monospace;
    cursor: pointer;
    font-size: 50px;
}


//message

.message-width-maker {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.message-container {
    display: none;
    // border: 1px solid #ffffff42;
    position: fixed;
    // left: 39%;
    width: 16%;
    height: 100px;
    background: rgba(60, 60, 60, 0.4);
    // top: 10%;
    bottom: 84px;
    border-radius: 15px;
    // display: flex;
    justify-content: center;
}

.action-message {
    position: relative;
    color: white;
    font-family: monospace;
    top: 37%;
    font-size: 16px;
}




.player {
    color: red;
    font-size: xx-large;
}