@import "./reset.scss";
@import "./modal.scss";
@import "./command.scss";
@import "./enemy.scss";

//start modal
.start-modal {
    // width: 100%;
    // height: 100%;
    width: 100vw;
    height: 100vw;
    position: fixed;
    background-color: black;
    z-index: 1;

    display: flex;
    justify-content: center;
}

.start-content-holder {
    // position: relative;
    // left: 45%;
    // top: 30%;
    
    display: flex;
    flex-direction: column;
}

//spin

.modal-glyph {
    width: 100%;
    height: 30%;
    margin-top: 70px;

    // -webkit-animation:spin 4s linear infinite;
    // -moz-animation:spin 4s linear infinite;
    animation:spin 36s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

//spin

.start-game-holder {
    display: flex;
    justify-content: center;
}

.start-game {
    font-family: monospace;
    font-size: 40px;
    color: palegoldenrod;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    // border: 1px solid;
    padding: 12px;
    width: 200px;
    border-radius: 16px;
    box-shadow: 0 0 10px #9ecaed;
}

.start-game:hover {
    font-family: monospace;
    font-size: 40px;
    color: palegoldenrod;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    border: 1px solid;
    padding: 12px;
    width: 200px;
    border-radius: 16px;
    box-shadow: 0 0 10px #9ecaed;
}

//header
.game-title {
    position: fixed;
    font-family: monospace;
    font-size: 50px;
    color: palegoldenrod;
    margin-left: 5%;
    margin-top: 50px;
    border-bottom: 1px solid;
    width: 90%;
}

.navbar {
    display: flex;
}

.sub-navbar {
    position: fixed;
    font-family: monospace;
    font-size: 14px;
    color: palegoldenrod;
    display: flex;
    // right: 100px;
    right: 10%;
    // margin-left: 60%;
    top: 78px;
}

.left-nav {
    margin-right: 50px;
}

.right-nav {
   display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 222px;
}

.restart {
    cursor: pointer;
    width: 40%;
    height: 100%;
}

.restart:hover {
    cursor: pointer;
    background-color: rgba(255, 217, 0, 0.555);
    border-radius: 16px;
    // padding-top: 5px;
    // padding-bottom: 5px;
    text-align: center;
    width: 40%;
    height: 100%;
}

.music {
    cursor: pointer;
    width: 40%;
    height: 100%;
}

.music:hover {
    cursor: pointer;
    background-color: rgba(255, 217, 0, 0.555);
    border-radius: 16px;
    // padding-top: 5px;
    // padding-bottom: 5px;
    text-align: center;
    width: 40%;
    height: 100%;
}

canvas {
    display: block;
}

.lost {
    position: fixed;
    width: 100%;
    height: 100%;
    // background: rgb(206, 56, 56);
    // background: rgba(206, 22, 22, 0.4);
    background-color: black;
    // z-index: 1;
    display: none;
    font-size: xx-large;
    justify-content: center;
}

.lost > .game_over {
    display: flex;
    margin-top: 265px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 115, 0);
    text-shadow: 0 0 21px #fff;
    font-family: monospace;
    font-size: 133px;
    text-transform: uppercase;
}

// .lost > .restart {
//     display: flex;
//     margin-top: 10px;
//     justify-content: center;
//     align-items: center;
//     color: black;
//     text-shadow:
//         0 0 21px #fff;
//     // align-items: bottom;
//     // top: 50%;
//     // left: 50%;
// }

.lost > .restart_lost {
    display: none;
    // display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 115, 0);
    text-shadow: 0 0 21px #fff;
    font-family: monospace;
    cursor: pointer;
    font-size: 50px;
    // border: 1px solid palegoldenrod;
}

.restart_lost_button:hover {
    // display: none;
    // display: flex;
    // margin-top: 10px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 115, 0);
    text-shadow: none;
    font-family: monospace;
    cursor: pointer;
    font-size: 50px;
    border: 1px solid palegoldenrod;
    border-radius: 16px;
    box-shadow: 0 0 10px #9ecaed;
    width: 15%;
    text-align: center;
}

.won {
    position: fixed;
    width: 100%;
    height: 100%;
    // background: rgb(211, 247, 11);
    // background: rgba(12, 245, 225, 0.4);
    background-color: black;
    // z-index: 1;
    display: none;
    font-size: xx-large;
    justify-content: center;
}

.won > .game_won {
    display: flex;
    margin-top: 265px;
    justify-content: center;
    align-items: center;
    color: gold;
    text-shadow: 0 0 21px #fff;
    font-family: monospace;
    font-size: 133px;
    text-transform: uppercase;
}

.won > .restart_won {
    display: none;
    // display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    color: palegoldenrod;
    text-shadow: 0 0 21px #fff;
    font-family: monospace;
    cursor: pointer;
    font-size: 50px;
}

.restart_won_button:hover {
    justify-content: center;
    align-items: center;
    color: palegoldenrod;
    text-shadow: none;
    font-family: monospace;
    cursor: pointer;
    font-size: 50px;
    border: 1px solid palegoldenrod;
    border-radius: 16px;
    box-shadow: 0 0 10px #9ecaed;
    width: 15%;
    text-align: center;
}

.finished-container {
    // display: none;

    position: fixed;
    width: 100%;
    height: 100%;
    // background: rgb(211, 247, 11);
    // background: rgba(12, 245, 225, 0.4);
    background-color: black;
    // z-index: 1;
    display: none;
    font-size: xx-large;
    justify-content: center;
    
}

.finished-message {
    display: flex;
    margin-top: 265px;
    justify-content: center;
    align-items: center;
    color: gold;
    text-shadow: 0 0 21px #fff;
    font-family: monospace;
    font-size: 133px;
    text-transform: uppercase;
}

.restart-game {
    display: none;
    // display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 115, 0);
    text-shadow: 0 0 21px #fff;
    font-family: monospace;
    cursor: pointer;
    font-size: 50px;
}

.restart-game-button:hover {
    justify-content: center;
    align-items: center;
    color: rgb(255, 115, 0);
    text-shadow: none;
    font-family: monospace;
    cursor: pointer;
    font-size: 50px;
    border: 1px solid palegoldenrod;
    border-radius: 16px;
    box-shadow: 0 0 10px #9ecaed;
    width: 15%;
    text-align: center;
}


//message

.message-width-maker {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.message-container {
    display: none;
    position: fixed;
    width: 91%;
    height: 45px;
    background: rgba(60, 60, 60, 0.4);
    border-radius: 15px;
    justify-content: center;
    box-shadow: 0 0 10px #9ecaed;
    top: 109px;
}

.action-message {
    position: relative;
    color: white;
    font-family: monospace;
    top: 37%;
    font-size: 16px;
}


//links
.mid-nav {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    position: fixed;
    right: 9.8%;
    border-radius: 16px;
    margin-top: 6px;
}

.github-favicon {
    width: 32px;
    height: 32px;
}

.linked-in-favicon {
    width: 32px;
    height: 32px;
}

.angel-favicon {
    width: 32px;
    height: 32px;
}

.github-favicon:hover {
    width: 32px;
    height: 32px;
    border-bottom: 1px solid palegoldenrod;
}

.linked-in-favicon:hover {
    width: 32px;
    height: 32px;
    border-bottom: 1px solid palegoldenrod;
}

.angel-favicon:hover {
    width: 32px;
    height: 32px;
    border-bottom: 1px solid palegoldenrod;
}


.player {
    color: red;
    font-size: xx-large;
}