.modal {
    position: fixed;
    top: 29%;
    left: 50%;
    // width: 25%;
    width: 441px;
    height: 55.7%;
    margin-top: -100px;
    margin-left: -12.5%;

    
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-size: 30px;
    color: palegoldenrod;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    cursor: default;
}

//About
.modal-about {
    font-size: 14px;
    // text-indent: 40px;
}

.description {
    color: palegoldenrod;
    // text-align: center;
    margin-bottom: 10px;
    text-indent: 40px;
    font-style: italic;
    cursor: default;
}

.instructions {
    color: palegoldenrod;
    // text-align: center;
    margin-bottom: 10px;
    text-indent: 40px;
    cursor: default;
}

.instructions-title {
    color: palegoldenrod;
    margin-bottom: 10px;
    font-size: 21px;
    margin-top: 50px;
    cursor: default;
}

.instructions-list {
    color: palegoldenrod;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    cursor: default;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}




//Character Select
.select-zodiac {
    color: palegoldenrod;
    text-align: center;
    margin-bottom: 20px;
    cursor: default;
}

.scroll {
    // width: 200px;
    height: 148px;
    text-align: center;
    width: 100%;
    min-height: 148px;
    // overflow-y: hidden;
    overflow-y: scroll;
    // display: block;
}

// .scroll:hover {
//     overflow-y: scroll;
// }

// .scroll::-webkit-scrollbar {
//     display: none;
// }

// .scroll::-webkit-scrollbar:hover {
//     display: none;
//     display: block;
// }
.scroll::-webkit-scrollbar {
    background-color: rgba(255, 255, 0, 0);
    // border-radius: 10px;
    // overflow-y: scroll;
 }

.scroll::-webkit-scrollbar:hover {
    background-color: rgba(255, 255, 0, 0.219);
    // border-radius: 10px;
    // overflow-y: scroll;
 }

.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(240, 236, 3); 
    // border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background: rgba(238, 232, 170, 0.411); 
    // border-radius: 10px;
}

// .scroll::-webkit-scrollbar-thumb:hover {
//     background: #3a3636a2; 
// }

.scroll a {
    color: palegoldenrod;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.scroll a:hover {
    // background-color: #ccc;
    // background-color: rgba(226, 120, 33, 0.8);
    background-color: rgba(234, 238, 18, 0.4);
}